body{
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #F9FAF8;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
    margin-right: 4rem;
    margin-left: 4rem;
}

.section-one{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 3rem;
}

.container-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}
.section-one h2{
    font-size: 48px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.section-one p{
    font-size: 18px;    
    color: #E5E7EB;
    font-weight:normal;
}

.section-one img{
    border-radius: 1rem;
    width: 500px;
    height: 300px;
}

.cat-title{
    display: flex;
    justify-content: center;
    background-color: white;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 3rem;
}

.section-two{
    display: flex;
    background-color: white;
    justify-content: center;
    padding-bottom: 3rem;
    gap: 3rem;
    text-align: center;
    color:#1F2937;
}

.section-two img{
    border-radius: 2rem;
    border-color: #3882f6;
    border-style: solid;
    width: 200px;
    height: 200px;
}

.section-three{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    align-items: center;
    padding: 2rem;
    flex: 1;
}

.three-text{
    display: flex;
    flex-direction: column;
    margin: 7rem;
    margin-bottom: 4rem;
    font-weight: lighter;
}

.three-text p{
    align-self: flex-end;
    font-weight: bold;
}

.section-four{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 4rem;
}

.four-text{
    display: flex;
    align-items: center;
    background-color: #3882f6;
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 8px;
    gap: 24rem;
}

.four-text p{
    font-weight: normal;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}

.four-text button{
    border-style:solid; 
    border-color: white;
    border-width: 2px;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 2rem;
}


a{
    text-decoration: none;
    color: inherit;
    padding: 1rem;
}

button{
    font-weight: bold;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    width: 8rem;
    padding: 8px;
    flex-shrink: 0;
}

