body{
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    margin: 6rem;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-one{
    display: flex;
}

.section-one h2{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.section-one p{
    font-size: 24px;    
    color: #F9FAF8;
    font-weight:normal;
}

button{
    font-weight: bold;
    color: #F9FAF8;
    background-color: #3882f6;
    border-radius: 8px;
    width: 5rem;
    padding: 4px;
}
